<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <!-- bulmaをCDNで適用させるにはstylesheetと同様の記述をする必要がある -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js "></script>
    <!-- .jsを読み込む場合はjavascriptの基本である、一つずつ順番に実行されることに気をつける -->
    <!-- 読み込みなどで記述どおりの順番で実行されない可能性があるので検証ツールのNetwork"を参考に読み込まれる順番を確認しながら作業すると○ -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="app.css">
    <title>Easy_task_manager</title>
</head>
<body>

    <section class="secton" id="board">
        <div class="container">

            <input type="text" v-model="newTaskName">
            <select v-model="newTaskAssignee">
                <option value="😺">😺</option>
                <option value="🐶">🐶</option>
                <option value="🐹">🐹</option>
            </select>
            <input type="number" v-model="newTaskMandays">
            <button @click="addTask">追加</button>
            <hr>
            <!-- inputタグで入力項目を指定して、受け取るdata:プロパティをv-modelで指定する -->
            <!-- selectタグは簡単に選択式のフォームを作成できる。optionでvalueとそれに対応した表示をtag内に記述する -->
            <!-- inputタグの typeをnumberに変更すれば数字入力欄へと早変わりする -->
            <!-- v-onディレクティブでDOMイベントclickで.pushメソッドを呼び出す -->
            <div class="columns">
                <div class="column status-1">
                    <div class="tags has-addons">
                        <span class="tag">未対応</span>
                        <span class="tag is-dark">{{ tasksOpen.length }}</span>
                        <!-- .length = tasksOpenが.filter関数で取得した配列の中の数を表示する -->
                    </div>
                    <transition-group name="fade">
                        <task-card v-bind:task="task" v-for="task in tasksOpen" v-bind:key="task.name"></task-card">
                    </transition-group>
                    <!-- transiton-groupタグでコンポーネントを囲む -->
                    <!-- cssで設定したnameをtransiton-groupタグ内で指定する -->
                    <!-- コンポーネントの挙動にtransitionが追加される -->
                </div>
                <div class="column status-2">
                    <div class="tags has-addons">
                        <span class="tag">処理中</span>
                        <span class="tag is-dark"> {{ tasksDoing.length }} </span>
                    </div>
                    <transition-group name="fade">
                        <task-card v-bind:task="task" v-for="task in tasksDoing" v-bind:key="task.name"></task-card>
                    </transition-group>
                </div>
                <div class="column status-3">
                    <div class="tag has-addons">
                        <span class="tag">完了</span>
                        <span class="tag is-dark"> {{ tasksClosed.length }} </span>
                    </div>
                    <transition-group name="fade">
                        <task-card V-bind:task="task" v-for="task in tasksClosed" v-bind:key="task.name"></task-card>
                    </transition-group>
                </div>
            </div>
        </div>
    </section>
    <script src="app.js"></script>

</body>

</html>